/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }  */

  .outer{
    /* background-color: #1eff00; */
    /* border: 5px solid rgb(0, 0, 0); */
    height: auto;
    width: 100%;
    float: left;
    margin: 20px;

}

  .content{
      /* background-color: #ff0000; */
      border: 1px solid black;
      height: 300px;
      width: 600px;
      float: left;
      margin: 30px;
      margin-left: 150px;
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: row;

  }
