<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Download Instagrams for free using Instagram Downloader">
    <meta name="author" content="iCoder">
    <title>Istagram Downloader</title>

    <link rel="canonical" href="https://getbootstrap.com/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = '/css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        footer{
            border-top: 2px solid black;
        }
        .fotr{
            float: left;
            width: 25%;
            padding-top: 10px;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = '/cover.css') }}" rel="stylesheet">
</head>

<body class="text-center" style="box-shadow: none;">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 65em;" >
        <header class="masthead mb-auto">
            <div class="inner">
                <!-- <h4 class="masthead-brand " >INSTAGRAM Downloader</h4> -->
                <img src="{{ url_for('static', filename = 'img/Instagram Downloader.io_ Logo.png')}}" style="float: left;" >
                <nav class="nav nav-masthead justify-content-center " style="padding-top: 40px;">
                    <a class="nav-link " style="color: black;" href="/">Home</a>
                    <a class="nav-link active" href="/about" style="color: black;" >Privacy Policy</a>
                    <a class="nav-link " href="/terms-conditions" style="color: black;">Terms & Conditions</a>
                </nav>
            </div>
        </header>
        <div class="jumbotron bg-grey">
            <h1 class="display-3 "><strong> Instagram Downloader</strong></h1>
            <p class="lead display-4"><strong>Privacy Policy</strong></p>

        </div>

        <main role="main" class="inner cover text-justify">
            <p>At Instagram Downloader, accessible from instagramdownloader.io, one of our main priorities is the privacy of our visitors. 
                This Privacy Policy document contains types of information that is collected and recorded by Instagram Downloader and how we use it.</p>

            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

            <p>
                This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to 
                the information that they shared and/or collected in Instagram Downloader.
                This policy is not applicable to any information collected offline or via channels other than this website.
            </p>

            <h3><strong>Consent</strong></h3>

            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

            <h3><strong>Information we collect</strong></h3>

            <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it,
                will be made clear to you at the point we ask you to provide your personal information.</p>
                <p>If you contact us directly, we may receive additional information about you such as your name, email address,
                    phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
                    <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address,
                        email address, and telephone number.</p>

            <h3><strong>How we use your information</strong></h3>
            <p>We use the information we collect in various ways, including to:</p>
            <p>Provide, operate, and maintain our website</p>
            <p>Improve, personalize, and expand our website</p>
            <p>Understand and analyze how you use our website</p>
            <p>Develop new products, services, features, and functionality</p>
            <p>Communicate with you, either directly or through one of our partners, including for customer service, 
                to provide you with updates and other information relating to the website, and for marketing and promotional purposes</p>
            <p>Send you emails</p>
            <p>Find and prevent fraud</p>
            
            <h3><strong>Google DoubleClick DART Cookie</strong></h3>

            <p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies,
                 to serve ads to our site visitors based upon their visit to www.website.com and other sites on
                  the internet. However, visitors may choose to decline the use of DART cookies by visiting the 
                  Google ad and content network Privacy Policy at the following URL – https://policies.google.com/technologies/ads
            </p>

            <h3><strong>Advertising Partners Privacy Policies</strong></h3>

            <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Instagram Downloader.</p>
            <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their
                respective advertisements and links that appear on Instagram Downloader, which are sent directly to users' browser. They
                automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their
                advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
                <p>Note that Instagram Downloader has no access to or control over these cookies that are used by third-party advertisers.</p>

            <h3><strong>Third Party Privacy Policies</strong></h3>

            <p>Instagram Downloader's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult
                the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices
                and instructions about how to opt-out of certain options.</p>
        </main>

        <footer>
            <div class="fotr">
                <img src="{{ url_for('static', filename = 'img/Instagram Downloader.io_ Logo.png')}}" style="max-width: 80%;" >
                <p style="font-size: 12px;">InstagramDownloader.io is created to help users to download from Instagram online. It’s easyto use, fast, and free. We do not host any content on our site. All content belongs to their respective owners.</p>
            </div>
            <div class="fotr" >
                <h4>Usefull Tools </h4>
                <p style="font-size: 12px;" > Instagram Photo Downloader <br>Instagram Video Downloader<br>Instagram Story Downloader<br>IGTV video Downloader<br>Instagram DP Downloader</p>
                
            </div>
            <div class="fotr">
                <h4>Legal </h4>
                <p style="font-size: 12px;" >Privacy Policy <br> Terms and Conditions</p>
            </div>
            <div class="fotr">
                <div>
                    <h4>Contact</h4>
                    <p style="font-size: 12px;">contact@instagramdownloader.io</p>
                </div>
                <div>
                    <h4>Socials </h4>
                    <img src="{{ url_for('static', filename = 'img/facebook_icon.png')}}" style="max-width: 23%;" >
                    <img src="{{ url_for('static', filename = 'img/instagram_icon.png')}}" style="max-width: 30%;" >
                    <img src="{{ url_for('static', filename = 'img/pinterest_icon.png')}}" style="max-width: 28%;" >
                </div>
            </div>
        </footer>
    </div>
    
</body>

</html>