<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Download facebook videos for free using Facebook Video Downloader">
    <meta name="author" content="iCoder">
    <title>INSTAGRAM Downloader</title>

    
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = '/css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/Butten-css.css"> -->
    <link href="{{ url_for('static', filename = '/Butten-css.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = '/downloded.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename = '/cover.css') }}" rel="stylesheet"> -->
    <link rel="canonical" href="https://getbootstrap.com/examples/cover/">
    <!-- <link href="{{ url_for('static', filename = '/img-css.css') }}" rel="stylesheet"> -->
    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .textcolor{
            color: black;
        }

        .srbox input,button{
            width: 80%;
            border: 3px solid #0400ff;
            font-size: 20px;
            padding: 10px;
            background: transparent; 
            
            float: left;
            margin-left: 15px;
            margin-top: 10px;
            border-radius: 25px;
        }
        .srbox button{
            width: 15%;
            background: white;
            color: black;
            border-radius: 4px;
            font-family: "montserrat";
            text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
        }
        .Bhover:hover{
            color: white;
            background-color: #0400ff;
        }
        .active{
            color: white;
            background-color: #0400ff;
        }

        body{
            background-color: white;
            box-shadow: none;
        }

        footer{
            border-top: 2px solid black;
        }
        .fotr{
            float: left;
            width: 25%;
            padding-top: 10px;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = '/cover.css') }}" rel="stylesheet">
</head>

<body class="text-center textcolor" style="box-shadow: none;">
    <div></div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 65em;" >
        <header class="masthead mb-auto">
            <div class="inner">
                <!-- <h4 class="masthead-brand " >INSTAGRAM Downloader</h4> -->
                <img src="{{ url_for('static', filename = 'img/Instagram Downloader.io_ Logo.png')}}" style="float: left;" >
                <nav class="nav nav-masthead justify-content-center " style="padding-top: 40px;">
                    <a class="nav-link active" style="color: black;" href="/">Home</a>
                    <a class="nav-link " href="/about" style="color: black;" >Privacy Policy</a>
                    <a class="nav-link " href="/terms-conditions" style="color: black;">Terms & Conditions</a>
                </nav>
            </div>
        </header>
        
        <div  style="margin-top: 80px;" style="margin-bottom: 20px;" >
            <div class="  p-4 border-0" style="float: left;" style="padding-left: 20px;">
                <img src="{{ url_for('static', filename = 'img/Instagram Story Downloader_Bot.png')}}" class="card-img-top" alt="..." height="200 ">
            </div>
            <div style="text-align: left;" style="padding-left: 40%;">
                <h2>Instagram Story Downloader</h2>
                <p style="text-align: left;"><br>You can use Instagram Story Download to download Instagram stories. Because Instagram only remains for 24 hours and it is impossible to download them from Instagram. That’s why we created this tool. It’s very easy to use, and even a beginner can use this tool and download Instagram stories. It’s fast, free and anonymous.</p>
            </div>
        </div>
        
        
        
        <main role="main" class="inner cover">
            <div class="contaner">
                <div >
                    <a class="btn Bhover" href="/">Photo Downloader</a>
                    <a class="btn Bhover" href="/vide_download">Video Downloader</a>
                    <a class="btn Bhover" href="/igtv_download">IGTV Downloader</a>
                    <a class="btn active Bhover" href="/story">Story Downloader</a>
                    <a class="btn Bhover" href="/dp_download">DP Downloader</a>
                </div>
            </div>
            <div class="srbox">
                <form action="/storydownload" method="POST">
                    <input type="text" placeholder="Enter User name::" aria-label="default input example" name="url" >
                    <button type="submit" class="Bhover">Search</button>
                </form>
            </div> 
        </main>
        <div class="alert alert-warning mt-3" role="alert">
            Please try again, double check the username.
        </div>

        
    <div class="mt-4" style="background-color: rgb(214, 209, 209);">
        <h2 class=" text-center" style="padding-top: 8px;" >How to Use Instagram Story Downloader?</h2>
        <div class="row">
            <div class="col-md-4">
                <div class=" p-3 border-0">
                    <img src="{{ url_for('static', filename = 'img/step1.png')}}" class="card-img-top" alt="..." height="300">
                    <div class="card-body">
                      <h5 class="card-title">1.Copy Username</h5>
                      <p class="card-text">
                        Open Instagram Web or app according to your device and find the profile you want to download their story. Then, copy their Instagram username.
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" p-3 border-0">
                    <img src="{{ url_for('static', filename = 'img/step2.png')}}" class="card-img-top" alt="..." height="300">
                    <div class="card-body">
                      <h5 class="card-title">2.Paste Username</h5>
                      <p class="card-text">
                        Now, Paste the username in the input field, located on the top of the website. Then, click on the download, which is located below the input field.
                      </p> 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" p-3 border-0">
                    <img src="{{ url_for('static', filename = 'img/step3.png')}}" class="card-img-top" alt="..." height="300">
                    <div class="card-body">
                      <h5 class="card-title">3.Click on Download Button</h5>
                      <p class="card-text">
                        You will get results shortly. After getting results, click on the download button. After clicking on the button, your downloading will start shortly.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div >
        <h2 style="padding-top: 20px;"><strong>FAQs Related to Instagram Story Downloader</strong></h2>
        <h3 style="float: left;"><strong>What is An Instagram Story Downloader?</strong></h3>
            <p style="text-align: left;"><br><br>Instagram story download is a tool that gives the facility to download Instagram to their users freely.</p>
            
            <h3 style="float: left;"><strong>Why Instagram Story Downloader?</strong></h3>
            <p style="text-align: left;"><br><br>Because Instagram stories only remain for 24 and then disappear, it is impossible to download them from Instagram. So, if you want to download Instagrams stories, then you need an Instagram story downloader.</p>
            
            <h3 style="float: left;"><strong>How to Download Instagram Story on iPhone?</strong></h3>
            <p style="text-align: left;"><br><br>You can download Instagram stories on iPhone by following these steps:</p>
            <ol style="text-align: left;">
                <li>Just open your browser and visit Instagramdownloader.io.</li>
                <li>Then, paste the username in the input field.</li>
                <li>And hit enter</li>
            </ol>
            
            <h3 style="float: left;"><strong>What is the Best Instagram Story Downloader?</strong></h3>
            <p style="text-align: left;"><br><br>Instagramdownload.io is the best downloader for Instagram. It is giving you a lot of useful features that other websites are not providing.</p>
            
            <h3 style="float: left;"><strong>Can I Download the Instagram Stories of Any Person?</strong></h3>
            <p style="text-align: left;"><br><br>Yes, with Instagramdownloader.io, you can download Instagram stories of any person.</p>
            
            <h3 style="float: left;"><strong>Are There Any Limitations to Using Tools?</strong></h3>
            <p style="text-align: left;"><br><br>No, we take care of user experience; therefore, we do not apply any limitations to our tools.</p>

    </div>
    
        <footer>
            <div class="fotr">
                <img src="{{ url_for('static', filename = 'img/Instagram Downloader.io_ Logo.png')}}" style="max-width: 80%;" >
                <p style="font-size: 12px;">InstagramDownloader.io is created to help users to download from Instagram online. It’s easyto use, fast, and free. We do not host any content on our site. All content belongs to their respective owners.</p>
            </div>
            <div class="fotr" >
                <h4>Usefull Tools </h4>
                <p style="font-size: 12px;" > Instagram Photo Downloader <br>Instagram Video Downloader<br>Instagram Story Downloader<br>IGTV video Downloader<br>Instagram DP Downloader</p>
                
            </div>
            <div class="fotr">
                <h4>Legal </h4>
                <p style="font-size: 12px;" >Privacy Policy <br> Terms and Conditions</p>
            </div>
            <div class="fotr">
                <div>
                    <h4>Contact</h4>
                    <p style="font-size: 12px;">contact@instagramdownloader.io</p>
                </div>
                <div>
                    <h4>Socials </h4>
                    <img src="{{ url_for('static', filename = 'img/facebook_icon.png')}}" style="max-width: 23%;" >
                    <img src="{{ url_for('static', filename = 'img/instagram_icon.png')}}" style="max-width: 30%;" >
                    <img src="{{ url_for('static', filename = 'img/pinterest_icon.png')}}" style="max-width: 28%;" >
                </div>
            </div>
        </footer>
    </div>
</body>

</html>