<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Download Instagrams for free using Instagram Downloader">
    <meta name="author" content="iCoder">
    <title>Istagram Downloader</title>

    <link rel="canonical" href="https://getbootstrap.com/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = '/css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        footer{
            border-top: 2px solid black;
        }
        .fotr{
            float: left;
            width: 25%;
            padding-top: 10px;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = '/cover.css') }}" rel="stylesheet">
</head>

<body class="text-center" style="box-shadow: none;">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 65em;" >
        <header class="masthead mb-auto">
            <div class="inner">
                <!-- <h4 class="masthead-brand " >INSTAGRAM Downloader</h4> -->
                <img src="{{ url_for('static', filename = 'img/Instagram Downloader.io_ Logo.png')}}" style="float: left;" >
                <nav class="nav nav-masthead justify-content-center " style="padding-top: 40px;">
                    <a class="nav-link " style="color: black;" href="/">Home</a>
                    <a class="nav-link " href="/about" style="color: black;" >Privacy Policy</a>
                    <a class="nav-link active" href="/terms-conditions" style="color: black;">Terms & Conditions</a>
                </nav>
            </div>
        </header>
        <div class="jumbotron bg-grey">
            <h1 class="display-3 "><strong> Instagram Downloader</strong></h1>
            <p class="lead display-4"><strong>Terms & Conditions</strong></p>

        </div>

        <main role="main" class="inner cover text-justify">
            <p>Welcome to Instagram Downloader!</p>

            <p>These terms and conditions outline the rules and regulations for the use of Instagram Downloader's Website, located at instagramdownloader.io.</p>

            <p>By accessing this website we assume you accept these terms and conditions.
                 Do not continue to use Instagram Downloader if you do not agree to take all
                  of the terms and conditions stated on this page.</p>

            <p>The following terminology applies to these Terms and Conditions,
                 Privacy Statement and Disclaimer Notice and all Agreements:
                  "Client", "You" and "Your" refers to you, the person log on this website and
                   compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us",
                    refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves.
                     All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our
                      assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in
                       respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands.
                        Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are
                         taken as interchangeable and therefore as referring to same.
            </p>

            <h3><strong>Cookies</strong></h3>

            <p>We employ the use of cookies. By accessing Instagram Downloader,
                 you agreed to use cookies in agreement with the Instagram Downloader's Privacy Policy.</p>

            <p>
                Most interactive websites use cookies to let us retrieve the user’s details for each visit.
                Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website.
                Some of our affiliate/advertising partners may also use cookies.
            </p>

            <h3><strong>iFrames</strong></h3>

            <p>Without prior approval and written permission,
                you may not create frames around our Web Pages that alter in any
                way the visual presentation or appearance of our Website.</p>

            <h3><strong>Content Liability</strong></h3>
            <p>We shall not be hold responsible for any content that appears on your Website. 
                You agree to protect and defend us against all claims that is rising on your Website. 
                No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, 
                otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

            
            <h3><strong>Your Privacy</strong></h3>

            <p>Please read Privacy Policy</p>

            <h3><strong>Reservation of Rights</strong></h3>

            <p>We reserve the right to request that you remove all links or any particular link to our Website.
                You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s
                linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.
            </p>

            <h3><strong>Removal of links from our website</strong></h3>

            <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. 
                We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>

            <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; 
                nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>   
        </main>

        <footer>
            <div class="fotr">
                <img src="{{ url_for('static', filename = 'img/Instagram Downloader.io_ Logo.png')}}" style="max-width: 80%;" >
                <p style="font-size: 12px;">InstagramDownloader.io is created to help users to download from Instagram online. It’s easyto use, fast, and free. We do not host any content on our site. All content belongs to their respective owners.</p>
            </div>
            <div class="fotr" >
                <h4>Usefull Tools </h4>
                <p style="font-size: 12px;" > Instagram Photo Downloader <br>Instagram Video Downloader<br>Instagram Story Downloader<br>IGTV video Downloader<br>Instagram DP Downloader</p>
                
            </div>
            <div class="fotr">
                <h4>Legal </h4>
                <p style="font-size: 12px;" >Privacy Policy <br> Terms and Conditions</p>
            </div>
            <div class="fotr">
                <div>
                    <h4>Contact</h4>
                    <p style="font-size: 12px;">contact@instagramdownloader.io</p>
                </div>
                <div>
                    <h4>Socials </h4>
                    <img src="{{ url_for('static', filename = 'img/facebook_icon.png')}}" style="max-width: 23%;" >
                    <img src="{{ url_for('static', filename = 'img/instagram_icon.png')}}" style="max-width: 30%;" >
                    <img src="{{ url_for('static', filename = 'img/pinterest_icon.png')}}" style="max-width: 28%;" >
                </div>
            </div>
        </footer>
    </div>
    
</body>

</html>